@use '../../colors/variables' as colors;

a {
  color: colors.$link-color;
  text-underline-offset: .1em;
  transition: color .2s ease;

  &.glue-font-weight-medium {
    text-decoration-thickness: .1em;
  }

  &:visited {
    color: colors.$link-color;
  }

  &:hover,
  &:active {
    background: transparent;
    color: colors.$link-color-hover;
  }

  &:has(> img) {
    display: inline-block;

    &:focus,
    &:focus-visible {
      background-color: transparent;
    }
  }
}
