@use '@google/glue/lib/breakpoints/variables' as glue-breakpoints-variables;

$viewport-sm-md-max-width: 767px;

$media-query-sm-md-only: '(max-width: #{($viewport-sm-md-max-width)})';
$media-query-sm-md-exclude: '(min-width: #{($viewport-sm-md-max-width + 1)})';

$viewport-md-lg-max-width: 1295px;

$media-query-md-lg: '(min-width: #{($viewport-md-lg-max-width + 1)})';
$media-query-md-lg-only: '(min-width: #{(glue-breakpoints-variables.$viewport-md-max-width + 1)}) and (max-width: #{$viewport-md-lg-max-width})';
