@use '@google/glue/lib/breakpoints/mixins' as glue-breakpoints-mixins;
@use '../colors/variables' as colors;

body {
  font-family: 'Google Sans', Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  color: colors.$primary-font;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  text-wrap: pretty;
}

h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 24px;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 22px;
}

h3 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8;
  margin-bottom: 14px;
}

h4,
.glue-card__content .glue-headline {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.35;
  margin-bottom: 0px;
}

p + p {
  margin-block-start: 1.5em;
}
