.app-core-capabilities-cards {
  .app-core-capabilities-card {
    padding: 0 28px 28px;

    &__image {
      width: 240px;
      height: auto;
    }

    // Move last card to centralise it in the 3-column layout on tablet
    &:last-child {
      @media (min-width: 600px) and (max-width: 1023px) {
        grid-column-start: 4;
      }
    }
  }
}
