@use '@google/glue/lib/breakpoints/variables' as glue-breakpoints;
@use '@google/glue/lib/spacers/mixins' as glue-mixins;

.partners {
  &__content {
    grid-column-gap: 0;

    &__column {
      height: 100%;
    }
  }

  &__text {
    font-size: 1.35rem;
    line-height: 1.45;
    padding-inline-end: 64px;

    @media #{glue-breakpoints.$media-query-lg} {
      padding-inline-end: 82px;
    }

    @media #{glue-breakpoints.$media-query-xl} {
      padding-inline-end: 82px;
    }
  }

  &__logos {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 64px;

    @include glue-mixins.spacer(6, margin, top);

    @media #{glue-breakpoints.$media-query-lg} {
      margin-top: 20px;
      justify-content: space-between;
      padding-inline-start: 82px;
    }

    @media #{glue-breakpoints.$media-query-xl} {
      margin-top: 20px;
      justify-content: space-between;
      padding-inline-start: 82px;
    }
  }

  &__logo {
    height: 72px;
    margin-right: 20px;
    mix-blend-mode: darken;
    object-fit: contain;
    width: auto;

    @media #{glue-breakpoints.$media-query-lg} {
      height: 86px;
      margin-right: 40px;
    }

    @media #{glue-breakpoints.$media-query-xl} {
      height: 86px;
      margin-right: 40px;
    }
  }
}
